<article>
	<header>
		<picture>
			<source
				media="(min-width: 1440px)"
				srcset=""
				type="image/png" >
			<source
				media="(min-width: 375px)"
				srcset=""
				type="image/png" >
			<img
				alt=""
				src="" >
		</picture>
	</header>
	<div>
		<p>
			<strong>Victor Crest</strong> 26
		</p>
		<p>London</p>
	</div>
	<footer>
		<dl>
			<div>
				<dt>Followers</dt>
				<dd>80K</dd>
			</div>
			<div>
				<dt>Likes</dt>
				<dd>803K</dd>
			</div>
			<div>
				<dt>Photos</dt>
				<dd>1.4K</dd>
			</div>
		</dl>
	</footer>
</article>