.profile-card {
	position: relative;
	border-radius: 1.5rem;
	box-shadow: 0 5rem 10rem -2rem rgba(8, 70, 94, 0.5);
	background: var(--white);
	max-width: 32.6rem;
	margin: 2.5rem;
	overflow: hidden;
	z-index: 2;
	
	@media (width >= 350px) {
		max-width: 35rem;
	}
}

.profile-card__card-header {
    position: relative;
}

.profile-card__decorative-background-image-sm {
	display: block;
	width: 32.6rem;
	height: 14rem;

	@media (width >= 768px) {
		display: none;
	}
}

.profile-card__decorative-background-image-md {
	display: none;
	width: 35rem;
	height: 14rem;
	
	@media (width >= 768px) {
		display: block;
	}
}

.profile-card__user-image {
	width: 10.1rem;
	height: 10.1rem;
	object-fit: cover;
	border-radius: 100%;
	border: 0.5rem solid var(--white);
	position: absolute;
	bottom: -5.3rem;
	left: 50%;
	transform: translate(-50%, 0);
}

.profile-card__content {
	margin-top: 5.3rem;
	margin-bottom: 2.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	@media (width >= 768px) {
		margin-bottom: 2.5rem;
	}
}

.profile-card__user-fullname-wrapper {
	margin: 1.9rem 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 0.85rem;
	
	@media (width >= 768px) {
		column-gap: 0.95rem;
	}
}

.profile-card__user-fullname {
	font-family: var(--font-family), sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
	color: var(--bunting);
}

.profile-card__user-age {
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	text-align: center;
	color: var(--old-mill-blue);
}

.profile-card__user-location {
	margin: 0.8rem 0 0 0;
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	text-align: center;
	color: var(--old-mill-blue);
}

.profile-card__footer {
	border-top: 0.1rem solid var(--mourn-mountain-snow);
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

.profile-card__user-stats {
	position: relative;
}

.user-stats {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.user-stats__field {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 0;
	row-gap: 0.5rem;
}

.user-stats__field-name {
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.15em;
	text-align: center;
	color: var(--old-mill-blue);
	margin: 0;
}

.user-stats__field-value {
	font-family: var(--font-family), sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
	color: var(--bunting);
	margin: 0;
}

.user-stats__field--type--followers {
	margin-right: 3.8rem;
	
	@media (width >= 768px) {
		margin-right: 4.6rem;
	}
}

.user-stats__field--type--likes {
	margin-right: 4.6rem;

	@media (width >= 768px) {
		margin-right: 5.4rem;
	}
}

.user-stats__field--type--photos {
	margin-right: 0;	
}