<article
	class="profile-card" >
	<h2
		class="visually-hidden" >
		Victor Crest profile card
	</h2>
	<header
		class="profile-card__card-header" >
		<img
			alt=""
			class="profile-card__decorative-background-image-sm"
			height="140px"
			src="/images/svg/profile-card/profile-card-header-background-sm.svg"
			width="326px" />
		<img
			alt=""
			class="profile-card__decorative-background-image-md"
			height="140px"
			src="/images/svg/profile-card/profile-card-header-background-md.svg"
			width="350px" />
		<picture>
			<source
				media="(min-width: 375px)"
				srcset="/images/users/victor-crest-profile-image.jpg"
				type="image/jpg" >
			<img
				alt="Victor Crest headshot photography"
				class="profile-card__user-image"
				src="/images/users/victor-crest-profile-image.jpg" >
		</picture>
	</header>
	<div
		class="profile-card__content" >
		<p
			class="profile-card__user-fullname-wrapper" >
			<strong
				class="profile-card__user-fullname" >
				Victor Crest
			</strong>
			<span
				class="profile-card__user-age" >
				26
			</span>
		</p>
		<p
			class="profile-card__user-location" >
			London
		</p>
	</div>
	<footer
		class="profile-card__footer" >
		<dl
			class="profile-card__user-stats user-stats" >
			<div
				class="user-stats__field user-stats__field--type--followers" >
				<dt
					class="user-stats__field-name" >
					Followers
				</dt>
				<dd
					class="user-stats__field-value" >
					80K
				</dd>
			</div>
			<div
				class="user-stats__field user-stats__field--type--likes" >
				<dt
					class="user-stats__field-name" >
					Likes
				</dt>
				<dd
					class="user-stats__field-value" >
					803K
				</dd>
			</div>
			<div
				class="user-stats__field user-stats__field--type--photos" >
				<dt
					class="user-stats__field-name" >
					Photos
				</dt>
				<dd
					class="user-stats__field-value" >
					1.4K
				</dd>
			</div>
		</dl>
	</footer>
</article>