<article
	class="profile-card" >
	<h2 class="visually-hidden">Victor Crest profile card</h2>
	<header
		class="profile-card__card-header" >
		<div
			class="profile-card__decorative-background-image" >
		</div>
		<picture>
			<source
				media="(min-width: 1440px)"
				srcset=""
				type="image/png" >
			<source
				media="(min-width: 375px)"
				srcset=""
				type="image/png" >
			<img
				alt=""
				class="profile-card__user-image"
				src="" >
		</picture>
	</header>
	<div
		class="profile-card__content" >
		<p>
			<strong
				class="profile-card__user-fullname" >
				Victor Crest
			</strong>
			<span
				class="profile-card__user-age" >
				26
			</span>
		</p>
		<p
			class="profile-card__user-location" >
			London
		</p>
	</div>
	<footer
		class="profile-card__footer" >
		<dl
			class="profile-card__user-stats user-stats" >
			<div
				class="user-stats__field" >
				<dt
					class="user-stats__field-name" >
					Followers
				</dt>
				<dd
					class="user-stats__field-value" >
					80K
				</dd>
			</div>
			<div
				class="user-stats__field" >
				<dt
					class="user-stats__field-name" >
					Likes
				</dt>
				<dd
					class="user-stats__field-value" >
					803K
				</dd>
			</div>
			<div
				class="user-stats__field" >
				<dt
					class="user-stats__field-name" >
					Photos
				</dt>
				<dd
					class="user-stats__field-value" >
					1.4K
				</dd>
			</div>
		</dl>
	</footer>
</article>