@inherits LayoutComponentBase

<main
	class="main" >
	<h1
		class="visually-hidden" >
		Profile card component
	</h1>
	@Body
	<svg
		class="small-decorative-circle-1"
		fill="none"
		height="267"
		viewBox="0 0 212 267"
		width="212"
		xmlns="http://www.w3.org/2000/svg" >
		<ellipse
			cx="-99"
			cy="-44.5"
			fill="url(#paint0_linear_0_4)"
			opacity="0.25"
			rx="311"
			ry="310.5"
			transform="rotate(-135 -99 -44.5)" />
		<defs>
			<lineargradient
				gradientUnits="userSpaceOnUse"
				id="paint0_linear_0_4"
				x1="-407.579"
				x2="-407.579"
				y1="-350.165"
				y2="266" >
				<stop
					stop-color="#0989B4"
					stop-opacity="0.01" />
				<stop
					offset="0.999399"
					stop-color="#53FFEE" />
			</lineargradient>
		</defs>
	</svg>
	<svg
		class="small-decorative-circle-2"
		fill="none"
		height="311"
		viewBox="0 0 210 311"
		width="210"
		xmlns="http://www.w3.org/2000/svg" >
		<ellipse
			cx="311"
			cy="310.5"
			fill="url(#paint0_linear_0_3)"
			opacity="0.25"
			rx="311"
			ry="310.5"
			transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 310.646 750.967)" />
		<defs>
			<lineargradient
				gradientUnits="userSpaceOnUse"
				id="paint0_linear_0_3"
				x1="2.42118"
				x2="2.42118"
				y1="4.8346"
				y2="621" >
				<stop
					stop-color="#0989B4"
					stop-opacity="0.01" />
				<stop
					offset="0.999399"
					stop-color="#53FFEE" />
			</lineargradient>
		</defs>
	</svg>
	<svg
		class="big-decorative-circle-1"
		fill="none"
		height="468"
		viewBox="0 0 693 468"
		width="693"
		xmlns="http://www.w3.org/2000/svg" >
		<ellipse
			cx="204"
			cy="-21"
			fill="url(#paint0_linear_0_85)"
			opacity="0.5"
			rx="489"
			ry="488"
			transform="rotate(-135 204 -21)" />
		<defs>
			<lineargradient
				gradientUnits="userSpaceOnUse"
				id="paint0_linear_0_85"
				x1="-281.193"
				x2="-281.193"
				y1="-501.402"
				y2="467" >
				<stop
					stop-color="#0989B4"
					stop-opacity="0.01" />
				<stop
					offset="0.999399"
					stop-color="#53FFEE" />
			</lineargradient>
		</defs>
	</svg>
	<svg
		class="big-decorative-circle-2"
		fill="none"
		height="345"
		viewBox="0 0 748 345"
		width="748"
		xmlns="http://www.w3.org/2000/svg" >
		<ellipse
			cx="489"
			cy="488"
			fill="url(#paint0_linear_0_86)"
			opacity="0.25"
			rx="489"
			ry="488"
			transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 488.293 1179.84)" />
		<defs>
			<lineargradient
				gradientUnits="userSpaceOnUse"
				id="paint0_linear_0_86"
				x1="3.80694"
				x2="3.80694"
				y1="7.59834"
				y2="976" >
				<stop
					stop-color="#0989B4"
					stop-opacity="0.01" />
				<stop
					offset="0.999399"
					stop-color="#53FFEE" />
			</lineargradient>
		</defs>
	</svg>
</main>