:root {
	--riviera: #19a1ae;
	--white: #ffffff;
	--bunting: #2e3349;
	--old-mill-blue: #6b7082;
	--mourn-mountain-snow: #e8e9ec;
	
	--font-family: "Kumbh Sans";
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}